<div class="dashboard">
    <div class="authorize" *ngIf="!authorized">
        <div>
            <a class="authSpotify-link" href='{{loginUri}}' alt="Login to Spotify">
                <h2 class="mat-h2">Login to authorize Spotify</h2>
            </a>
        </div>
        <div>
            <a class="authSpotify-link" href='{{loginUri}}' alt="Login to Spotify">
                <img src="/assets/spotify-icon-green.png" width="320">
            </a>
        </div>
    </div>
    <app-search-box *ngIf="authorized"></app-search-box>
    <app-search-result *ngIf="authorized"></app-search-result>
</div>