.search-results {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: auto;
    align-content: flex-start;
}

.spotify-card {
    flex: 0 0 auto;
    width: 220px;
    margin: 14px;
    background-color: rgba(0, 0, 0, 0.5);
}