.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search__query {
    margin: 24px;
    input {
        width: 60%;
        min-width: 320px;
        min-height: 42px;
    }
}

.search__button,
.search__type {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.searchType {
    margin: 4px;
    margin-top: 12px;
}