.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search__query {
    margin: 12px;
    input {
        min-width: 320px;
        min-height: 42px;
        background-color: transparent;
        padding: 6px;
        padding-left: 6px;
        box-shadow: 0 2px 4px #69f0ae;
        align-items: center;
        justify-content: flex-end;
        display: inline-flex;
        border-radius: 12px;
        border: 0 solid transparent;
        position: relative;
        background-color: #69f0ae;
    }
}

.search__button,
.search__type {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 18px;
    .searchType {
        margin-left: 24px;
    }
}

::placeholder {
    color: black;
    opacity: 1;
}

:-ms-input-placeholder {
    color: black;
}

::-ms-input-placeholder {
    color: black;
}