/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-weight: 100;
    background-color: #1db954;
    background: url("/assets/gradient-3.png");
    background-size: cover 100%;
    background-repeat: no-repeat;
}

textarea:focus,
input:focus {
    outline: none;
}

*:focus {
    outline: none;
}